name: Auto Commit

on:
  workflow_dispatch:

jobs:
  auto_commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
          
      - name: Append 'hello' to CookHistory.json
        run: echo "hello" >> CookHistory.json
      
      - name: git status
        run: git status

      - name: Auto Commit Cook Scene
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto cook scene
          file_pattern: 'Assets/AddressableAsset/GridWorldCookedData/* Assets/AddressableAssetsData/*.asset Assets/Scenes/*.unity *.json'
